@import './klases/_reset.scss';
@import './klases/_body.scss';
@import './klases/_fromtrust';
@import './klases/_projects.scss';
@import './klases/_startwithcollabs.scss';
@import './klases/joinus';

$firstcolor: #60267f;
$secondcolor: white;
$font: 'Roboto', sans-serif;
.headtop {
	background-color: $firstcolor;
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $secondcolor;
}
p {
	font-size: 5.7226px;
	font-family: 'DM Sans';
	color: $secondcolor;
}

header {
	position: relative;
	padding: 15px;
	nav {
		width: 100%;
		height: 49.3px;
		background-color: $secondcolor;
		box-shadow: 0px 2.201px 2.201px rgba(0, 0, 0, 0.06);
		ul {
			display: flex;
			list-style-type: none;
			justify-content: end;
			gap: 3%;
			font-family: $font;
			li {
				button {
					background-color: $secondcolor;
					color: #9a54bc;
					box-shadow: 0px 2.201px 2.201px rgba(0, 0, 0, 0.06);
					border: #9a54bc 1px solid;
					border-radius: 4px 4px 4px 4px;
				}
			}
		}
	}
}

header {
	img {
		position: absolute;
		left: 35px;
	}
}
//
