$font: 'Roboto', sans-serif;

.projects-image-board {
	height: 200px;
	width: 100%;
	display: flex;
	color: black;
	font-family: $font;

	.firstcolumn {
		height: 200px;
		width: 33%;
		font-family: $font;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		p {
			font-size: 12px;
			color: black;
			font-family: $font;
		}
	}
	.secondcolumn {
		height: 200px;
		width: 33%;
		height: 200px;
		font-family: $font;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		p {
			font-size: 12px;
			color: black;
			font-family: $font;
		}
	}
	.thirdcolumn {
		height: 200px;
		width: 33%;
		height: 200px;
		font-family: $font;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		p {
			font-size: 12px;
			color: black;
			font-family: $font;
		}
	}
}
.projectstext h1 {
	text-align: center;
	margin-top: 30px;
	font-family: $font;
	font-size: 26px;
}
